*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #6B6B63;
    background-color: #D6D6C7;
    width: 100%;
}
.slick-slide {
    outline: none
}
.just-mobile{
    display: none;
}
.zindex-2{
    position: relative;
    top: 800px;
    z-index: 2;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.display-inblo{
    display: inline-block;
}
.flex{
    display: flex;
}
.logo-container{  
    height: 100%; 
    width: 5%;
}
.nav-container{
    width: 70%;
    margin: 0 auto;
}
.text-container{
    margin: 0 auto;
    max-width: 60%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #000000;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 48px;
    background: rgb(243, 243, 239, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0px -23px 60px rgba(0, 0, 0, 0.5);
}
.inner-container{
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.nav-header{
    width: 100%;
    justify-content: space-evenly;
}
ul{
    padding: 0;
    padding-right: 3%;
}
.nav-menu{
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #6B6B63;
    text-shadow: 0px 0px 1px whitesmoke;
}
/*.busqueda-container{
    height: 30px;
    width: 30%;
    margin: 0px 5px;
    margin-right: 10px;
}
.busqueda-input{
    margin-left: 5%;
    border: none;
    background-color: rgb(252, 252, 252, 0.9);
    border-radius: 161px;
    padding: 5px 5px 5px 5px;
}
input:focus-visible{
    outline-style: none;
}*/
.main-portada{
    height: 800px;
    background-color: #D6D6C7;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.main-greenlife{
    font-family: 'DIN Condensed';
    font-weight: bold;
    font-size: 164px;
    line-height: 130px;
    color: #6D8E40;
    padding-top: 150px;
}
.presentation-text-container {
    padding-top: 6%;
    padding-bottom: 29%;
    font-size: 24px;
    margin: 0 auto;
    max-width: 60%;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 176.1%;
    letter-spacing: 0.03em;
    color: #000000;
}
.product-container{
    font-family: 'DIN Condensed';
    font-size: 33px;
    color: #6F1328;
    margin-top: 10%;
    margin-left: 20%;
    text-align: right;
}
.main-greenlife span{
    color: #FBF7E9;
}
.main-slogan{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 0px;
    color: #FBF7E9;
    padding-bottom: 500px;
}
.main-img{
    height: 62%;
    position: absolute;
    bottom: 0;
}
.scroll{
    position: absolute;
    height: 6%;
    bottom: 15%;
    z-index: 1;
}
.bg-color-1{
    background-color: #F8F7F3;
}
.main-skincare{
    background-image: url(../img/back-1.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;

}
.center-title{
    color: #6F1328;
    font-size: 100px;
    font-family: 'DIN Condensed';
    margin-top: 6%;
}
.span-skincare{
    color: #6F1328;
}
.main-tonificador{
    background-image: url(../img/back-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.added-element-1{
    height: 600px;
    position: absolute;
    top: 25%;
    left: -5%;
}
.added-element-2{
    height: 675px;
    position: absolute;
    top: -7%;
    left: -11%;
}
.product-description{
    margin-top: 2%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: #000000;
    margin-left: 30%;
}
.product-end-description{
    margin-top: 6%;
    margin-left: 22%;
}
.main-slider{
    background-size: 100% 100%;
    background-image: url(../img/back-3.png);
    background-repeat: no-repeat;
}
.slider-card{
    margin-top: 100px;
    margin-right: 70px;
    max-width: 35%;
    min-width: 35%;
    height: 100%;
}

.button-comprar{
    margin-bottom: 50px;
    width: 125px;
    background-color: #6D8E40;
    border: none;
    padding: 4px 10px;
    border-radius: 50px;
    color: #DDDED6;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    box-shadow: 2px 2px 6px #00000040,
                -2px -2px 6px #ffffff80;
}
.button-contactar{
    font-size: 20px;
    width: 170px;
    margin: 0px 8px;
}
.button-comprar:hover{
    box-shadow: 0px 0px 0px #00000040;
    color: whitesmoke;
}
.container-button{
    justify-content: flex-end;
}
.icon-button-footer{
    height: 35px;
    padding: 1% 7% 1% 0;
}
.product-slider{
    font-family: 'DIN Condensed';
    font-size: 33px;
    color: #6F1328;
    text-align: left;
    margin-top: 40px;
}
.miniaturas-container{
    margin: 0 auto;
    background-color: rgba(243, 243, 239, 0.58);
    border-radius: 18px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.min-container img{
    align-items: center;
    width: 50px;
    border: 5px honeydew;
    margin: 7px 3px 7px 3px;
}
.slider-container{
    width: 80%;
    height: 100%;
    margin-top: 30px;
}
.slide-container img{
    width: 400px;
    margin: 0 auto;
}
.p2-color{
    color: #ED7A00;
}
.granada-transparencia{
    position: relative;
    z-index: 1;
    left: 30%;
}
.main-limpiador {
    background-image: url(../img/back-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.bk-4 {
    background-image: url(../img/back-5.png);
}
.main-fitlife {
    background-image: url(../img/Work\ Out-Recuperado.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 7px solid white;
    border-top: 7px solid white;
}
.title-fitlife {
    margin: 25% 25%;
    color: #A8FD32;
    letter-spacing: 0.03em;
}
.span-title-fitlife-gradient{
    background: #A8FD32;
    background: -webkit-linear-gradient(to right, #A8FD32 0%, #DEDEDE 91%);
    background: -moz-linear-gradient(to right, #A8FD32 0%, #DEDEDE 91%);
    background: linear-gradient(to right, #A8FD32 0%, #DEDEDE 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.span-title-fitlife-life{
    color: #DEDEDE;
}
.proximamente{
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #050210;
    color: rgb(239, 239, 252);
    padding: 100px 0px 100px 0px;
    font-size: 60px;
    border-bottom: 7px solid white;
}
.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(243, 243, 239);
}
.mapa-de-sitio{
    width: 30%;
    font-size: 15px;
    padding-left: 150px;
}
.site-map-title{
    font-size: 18px;
    font-weight: bold;
    color: #5c5c55;
}
.contact-card{
    width: 70%;
    justify-content: flex-end;
}
@media (max-width: 1250px) {
    .added-element-1, .added-element-2{
        transition-duration: 1.5s;
        transition-property: left;
        left: -10%;
    }
}
@media (max-width: 1200px) {
    .added-element-1, .added-element-2{
        transition-duration: 1.5s;
        transition-property: left;
        left: -15%;
    }
}
@media (max-width: 1024px) {
    .presentation-text-container{
        line-height: 158.1%;
        padding-bottom: 31%;
    }
    .slide-container img{
        width: 460px;
    }
    .slider-card{
        margin-top: 80px;
    }
    .added-element-2{
        height: 629px;
        top: -3%;
    }
    .mapa-de-sitio{
        padding-left: 0px;
    }
    .contact-card{
        justify-content: center;
    }
}
@media (max-width: 1005px) {
    .added-element-1, .added-element-2{
        transition-duration: 1.5s;
        transition-property: left;
        left: -30%;
    }
    .added-element-1, .added-element-2{
        transition-duration: 2s;
        transition-property: opacity;
        opacity: 100%;
    }
}
@media (max-width: 900px) {
    .added-element-1, .added-element-2{
        transition-duration: 2s;
        transition-property: opacity;
        opacity: 0%;
    }

}
@media (max-width: 834px) {
    .slider-container{
        width: 70%;
        margin-top: 0px;
    }
    .button-comprar{
        font-size: 17px;
    }
    .zindex-2{
        top: 768px;
    }
    .header{
        height: 38px;
    }
    .inner-container{
        max-width: 95%;
    }
    .logo-container img{
        height: 20px;
    }
    .nav-header{
        margin-left: 0px;
        width: 100%;
        font-size: 13px;
    }
    .nav-container{
        width: 90%;
    }
    .main-portada{
        height: 700px;
    }
    .main-greenlife{
        font-size: 85px;
    }
    /*.busqueda-container img{
        display: none;
    }
    .busqueda-input{
        width: 100%;
    }*/
    .main-slogan {
        font-size: 23px;
    }
    .scroll{
        bottom: 25%;
    }
    .main-img{
        display: none;
    }
    .center-title{
        font-size: 72px;
        margin-top: 75px;
    }
    .container-section{
        line-height: 30px;
    }
    .product-container{
        font-size: 23px;
        line-height: 30px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .presentation-text-container{
        max-width: 85%;
        font-size: 18px;
        line-height: 133%;
        padding-bottom: 25%;
    }
    .product-description, .product-end-description{
        font-size: 18px;
        line-height: 23px;
        margin-left: 20%;
    }
    .text-container{
        max-width: 85%;
        letter-spacing: 0em;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .product-slider{
        font-size: 23px;
    }
    .product-price{
        font-size: 18px;
    }
    .slider-card{
        max-width: 77%;
        margin-top: 70%;
    }
    .footer{
        height: 100px;
    }
    .contact-card{
        width: 68%;
        align-items: flex-end;
    }
    .mapa-de-sitio{
        padding-left: 0px;
    }
    .icon-button-footer{
        height: 28px;
    }
    .proximamente{
        font-size: 40px;
        padding: 60px 0px 60px 0px;
    }
}
@media (max-width: 834px) and (orientation: portrait) {
    .zindex-2{
        top: 900px;
    }
    .main-portada{
        height: 1025px;
    }
    .main-greenlife{
        padding-top: 250px;
    }
    .main-img{
        height: 40%;
    }
    .nav-header{
        margin: 0 auto;
        width: 80%;
    }
    .presentation-text-container{
        line-height: 126.1%;
        text-shadow: 1px 1px 4px #F3F3EE70,
                     -1px -1px 4px #F3F3EE70,
                     -1px 1px 4px #F3F3EE70,
                     1px -1px 4px #F3F3EE70;
    }
    .added-element-1, .added-element-2{
        display: none;
    }
    .slider-card{
        margin: 0 auto;
        margin-top: 48px;
    }
    .button-comprar{
        padding: 9px 10px;
        width: 112px;
    }
}
@media (max-width: 800px) {
    .added-element-1, .added-element-2{
        display: block;
        opacity: 100%;
    }
    .added-element-1{
        height: 513px;
        top: 22%;
    }
    .added-element-2{
        height: 578px;
        top: -13%;
    }
    .zindex-2{
        top: 625px;
    }
    .main-greenlife{
        line-height: 110px;
    }
    .main-img{
        display: block;
    }
    .slider-container{
        position: relative;
        width: 60%;
    }
    .slide-container{
        display: flex;
        justify-content: center;
    }
    .text-container{
        padding-bottom: 1px;
    }
    .slider-card{
        margin-top: 8%;
    }
    .button-comprar{
        padding: 8px 10px;
        width: 100px;
    }
}
@media (max-width: 768px) and (orientation: portrait) {
    .zindex-2{
        top: 1024px;
    }
    .scroll {
        bottom: 35%;
    }
    .button-comprar{
        border-radius: 25px;
        padding: 11px 10px;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .button-contactar{
        font-size: 15px;
        margin-bottom: 4px;
        margin-top: 4px;
        width: 150px;
    }
    .container-slider{
        padding-top: 450px;
        padding-bottom: 30px;
        flex-direction: column-reverse;
        padding-top: 0px; 
    }
    .slider-card{
        flex-direction: row;
        margin-top: 0px;
        width: 350px;
        margin: 0 auto;
    }
    .slider-container{
        margin: 0 auto;
        width: 75%;
    }
    .slide-container img{
        margin: 0 auto;
    }
}
@media (max-width: 768px) and (orientation: landscape) {
    .zindex-2{
        top: 400px;
    }
    .main-greenlife{
        padding-top: 110px;
    }
    .scroll{
        height: 5%;
        bottom: 54%;
    }
    .slider-card{
        max-width: 35%;
        min-width: 35%;
        height: 100%;
        margin-top: 20%;
    }
    .presentation-text-container{
        line-height: 150%;
    }
    .text-container{
        padding-top: 0px;
    }
    .button-comprar{
        width: 46%;
        border-radius: 25px;
        margin-bottom: 4px;
        margin-top: 0px;
    }
    .button-contactar{
        font-size: 18px;
        width: 38%;
    }
}
@media (max-width: 600px) {
    .added-element-1, .added-element-2{
        display: none;
    }
    .slider-card{
        flex-direction: row;
        margin-top: 0px;
        margin-left: 20%;
    }
    .container-slider{
        flex-direction: column-reverse;
        padding-top: 0px;   
    }
    .slider-container{
        left: 20%;
    }

}
@media (max-width: 414px) {
    .main-img{
        display: none;
    }
    .inner-container{
        margin: auto auto;
    }
    .logo-container{
        display: none;
    }
    .nav-header{
        width: 100%;
    }
    .just-mobile{
        display: inline-block;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }
    .scroll{
        bottom: 35%;
    }
    .zindex-2{
        top: 737px;
    }
    .presentation-text-container{
        font-size: 16px;
        line-height: 95.1%;
    padding-bottom: 129px;
    }
    .center-title{
        margin-top: 10px;
    }
    .slider-container{
        width: 101%;
    }
    .slide-container img{
        width: 350px;
    }
    .title-fitlife{
        margin: 13% 25%;
    }
    .proximamente{
        padding: 30px 0px 30px 0px;
    }
    .mapa-de-sitio{
        width: 41%;
        margin-left: 30px;
    }
    .contact-card{
        flex-direction: column;
        margin-right: 25px;
    }
}
@media (max-width: 375px) and (orientation: portrait) {
    .main-greenlife{
        font-size: 65px;
        line-height: 1.4;
    }
    .main-slogan{
        font-size: 17px;
    }
    .logo-container img {
        display: inline-block;
        margin-left: 10px;
    }
}



