@media (max-width: 768px) {
    .header{
        height: 38px;
    }
    .nav-container{
        width: fit-content;
    }
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: DIN Alternate;
    font-style: normal;
    color: #6B6B63;
    background-color: #D6D6C7;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-items: center;
}

.display-inblo{
    display: inline-block;
}

.flex{
    display: flex;
}

.header{
    width: 100%;
    height: 48px;
    background-color: #F3F3EF;
    box-shadow: 0px -23px 60px rgba(0, 0, 0, 0.1);
}

.inner-header{
    height: 100%;
}

.logo-container{
    justify-content: center;   
    width: 10%;
}

.nav-container{
    width: 70%;
}

.nav-header{
    width: 100%;
    font-size: 15px;
    text-align: center;
    justify-content: space-evenly;
}

.busqueda-container{
    height: 30px;
    width: 25%;
    margin: 0px 5px;
    margin-right: 25px;
}
  
.busqueda-input{
    margin-left: 5%;
    border: none;
    background-color: #FCFCFC;
    position: relative;
    border-radius: 161px;
    padding: 5px 5px 5px 5px;
}

input:focus-visible{
    outline-style: none;
}

.main{
    margin: 0 auto;
    width: 100%;
    height: 800px;
}

.main-portada{
    margin: 0 auto;
    max-width: 50%;
}

.main-img{
    justify-content: center;
    width: 100%;
    height: auto;
}

.main-greenlife{
    max-width: 100%;
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 164px;
    line-height: 130px;
    color: #6D8E40;
    justify-content: center;
    margin-top: 100px;
}

.span-life{
    color: #FBF7E9;
}

.main-slogan{
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 0px;
    text-align: center;
    color: #FBF7E9;
}

.section-skincare{
    margin: 0 auto;
    width: 100%;
}