*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #6B6B63;
    background-color: rgb(243, 243, 239, 0.95);
    width: 100%;
}
.zindex-2{
    position: relative;
    top: 800px;
    z-index: 2;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.display-inblo{
    display: inline-block;
}
.flex{
    display: flex;
}
.logo-container{  
    height: 100%; 
    width: 5%;
}
.nav-container{
    width: 70%;
    margin: 0 auto;
}
.text-container{
    margin: 0 auto;
    max-width: 60%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    line-height: 176.1%;
    letter-spacing: 0.03em;
    color: #000000;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 48px;
    background-color: rgb(243, 243, 239, 0.95);
    box-shadow: 0px -23px 60px rgba(0, 0, 0, 0.5);
}
.inner-container{
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.nav-header{
    width: 100%;
    justify-content: space-evenly;
}
ul{
    padding: 0;
    padding-right: 3%;
}
.nav-menu{
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #6B6B63;
    text-shadow: 0px 0px 1px whitesmoke;
}
/*.busqueda-container{
    height: 30px;
    width: 30%;
    margin: 0px 5px;
    margin-right: 10px;
}
.busqueda-input{
    margin-left: 5%;
    border: none;
    background-color: rgb(252, 252, 252, 0.9);
    border-radius: 161px;
    padding: 5px 5px 5px 5px;
}
input:focus-visible{
    outline-style: none;
}*/
.main-portada{
    height: 800px;
    background-color: #D6D6C7;
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.main-greenlife{
    font-family: 'DIN Condensed';
    font-weight: bold;
    font-size: 164px;
    line-height: 130px;
    color: #6D8E40;
    padding-top: 150px;
}
.presentation-text-container {
    padding-bottom: 30%;
    font-size: 24px;
    margin: 0 auto;
    max-width: 60%;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 176.1%;
    letter-spacing: 0.03em;
    color: #000000;
}
.product-container{
    font-family: 'DIN Condensed';
    font-size: 33px;
    color: #6F1328;
    margin-top: 30%;
    margin-left: 20%;
    margin-bottom: 20%;
    text-align: right;
}
.main-greenlife span{
    color: #FBF7E9;
}
.main-slogan{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 0px;
    color: #FBF7E9;
    padding-bottom: 500px;
}
.main-img{
    height: 62%;
    position: absolute;
    bottom: 0;
}
.scroll{
    position: absolute;
    height: 6%;
    bottom: 15%;
    z-index: 1;
}
.bg-color-1{
    background-color: #F8F7F3;
}
.main-skincare{
    height: 100%;
    width: 100%;
    background-image: url(img/back-1.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;

}
.center-title{
    color: #6F1328;
    font-size: 100px;
    font-family: 'DIN Condensed';
    margin-top: 6%;
}
.span-skincare{
    color: #6F1328;
}
.main-tonificador{
    height: 100%;
    width: 100%;
    background-image: url(img/back-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.added-element{
    height: 150%;
    position: absolute;
    bottom: -25%;
    left: calc(50% - 1100px);
}
.product-description{
    margin-top: 2%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: #000000;
    margin-left: 30%;
    padding-bottom: 3%;
}
.product-end-description{
    margin-top: 6%;
    margin-left: 22%;
}
.main-slider{
    height: 100%;
    width: 100%;
    padding-top: 1%;
    background-image: url(img/back-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider-card{
    max-width: 35%;
    min-width: 35%;
    height: 100%;
}
.button-contactar{
    font-size: 20px;
    width: 200px;
    margin: 0px 8px;
}
.button-comprar{
    width: 50%;
    background-color: #6D8E40;
    border: none;
    padding: 4px 10px;
    border-radius: 50px;
    color: #DDDED6;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    box-shadow: 2px 2px 6px #00000040,
                -2px -2px 6px #ffffff80;
}
.button-comprar:hover{
    box-shadow: 0px 0px 0px #00000040;
    color: whitesmoke;
}
.container-button{
    justify-content: flex-end;
}
.icon-button-footer{
    height: 35px;
    padding: 1% 7% 1% 0;
}
.product-slider{
    font-family: 'DIN Condensed';
    font-size: 33px;
    color: #6F1328;
    text-align: left;
}
.p2-color{
    color: #ED7A00;
}
.granada-transparencia{
    position: relative;
    z-index: 1;
    left: 30%;
}
/* Position the image container (needed to position the left and right arrows) */
.container-slider {
width: 100%;
position: relative;
right: 0;
z-index: 3;
padding-bottom: 75px;
}
/* Hide the images by default */
.mySlides {
width: 150%;
display: none;
position: relative;
top: -15%;
z-index: 1;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
} 
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}
/* Container for image text */
.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}
.row-slider{
    background: rgba(243, 243, 239, 0.58);
    border-radius: 18px;
    justify-content: space-around;
    padding-top: 3%;
    margin-top: 5%;
    margin-bottom: 15%;
}
.row-slider:after {
content: "";
display: table;
clear: both;
}
/* Six columns side by side */
.column {
float: left;
width: 16.66%;
}
/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}
.active,
.demo:hover {
opacity: 1;
}
.main-limpiador {
    height: 100%;
    width: 100%;
    background-image: url(img/back-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.bk-4 {
    background-image: url(img/back-5.png);
}
.main-fitlife {
    width: 100%;
    height: 100%;
    background-image: url(img/Work\ Out-Recuperado.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.divisor{
    background-color: white;
    height: 7px;
}
.title-fitlife {
    margin: 25% 25%;
    color: #A8FD32;
    letter-spacing: 0.03em;
}
.span-title-fitlife-gradient{
    background: #A8FD32;
    background: -webkit-linear-gradient(to right, #A8FD32 0%, #DEDEDE 91%);
    background: -moz-linear-gradient(to right, #A8FD32 0%, #DEDEDE 91%);
    background: linear-gradient(to right, #A8FD32 0%, #DEDEDE 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.span-title-fitlife-life{
    color: #DEDEDE;
}
.proximamente{
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #050210;
    color: rgb(239, 239, 252);
    padding: 100px 0px 100px 0px;
    font-size: 60px;
}
.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgb(243, 243, 239);
}
.mapa-de-sitio{
    width: 40%;
    font-size: 15px;
    padding-left: 150px;
}
.site-map-title{
    font-size: 18px;
    font-weight: bold;
    color: #5c5c55;
}
.contact-card{
    width: 40%;
    justify-content: flex-end;
}
/*
@media (max-width: 992px) and (orientation: portrait){
    .zindex-2{
        top: 1024px;
    }
    .main-portada{
        height: 1025px;
    }
    .main-greenlife{
        padding-top: 250px;
    }
    .main-img{
        height: 40%;
    }
    .nav-header{
        margin-left: 40%;
        width: 80%;
    }
    .presentation-text-container{
        padding-bottom: 15%;
        line-height: 126.1%;
        text-shadow: 1px 1px 4px #F3F3EE70,
        -1px -1px 4px #F3F3EE70,
        -1px 1px 4px #F3F3EE70,
        1px -1px 4px #F3F3EE70;
    }
}
*/
@media (max-width: 768px) {
    .zindex-2{
        top: 768px;
    }
    .header{
        height: 38px;
    }
    .inner-container{
        max-width: 95%;
    }
    .logo-container img{
        height: 20px;
    }
    .nav-header{
        margin-left: 0px;
        width: 100%;
        font-size: 13px;
    }
    .nav-container{
        width: 90%;
    }
    .main-portada{
        height: 700px;
    }
    .main-greenlife{
        font-size: 85px;
    }
    /*.busqueda-container img{
        display: none;
    }
    .busqueda-input{
        width: 100%;
    }*/
    .main-slogan {
        font-size: 23px;
    }
    .scroll{
        bottom: 25%;
    }
    .main-img{
        display: none;
    }
    .center-title{
        font-size: 50px;
        top: 130%;
    }
    .container-section{
        line-height: 30px;
    }
    .product-container{
        font-size: 23px;
        line-height: 30px;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    .presentation-text-container{
        max-width: 85%;
        font-size: 18px;
        font-weight: 500;
        line-height: 105%;
        text-shadow: 1px 1px 4px #F3F3EE70,
        -1px -1px 4px #F3F3EE70,
        -1px 1px 4px #F3F3EE70,
        1px -1px 4px #F3F3EE70;
        padding-bottom: 10%;
    }
    .product-description, .product-end-description{
        font-size: 18px;
        line-height: 23px;
        margin-left: 20%;
    }
    .text-container{
        max-width: 85%;
        letter-spacing: 0em;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .product-slider{
        font-size: 23px;
    }
    .product-price{
        font-size: 18px;
    }
    .mySlides {
        margin: 0 auto;
        width: 100%;
        top: 1%;
        }
    .row-slider{
        border-radius: 6px;
    }
    .slider-card{
        max-width: 77%;
        margin-top: 70%;
    }
    .footer{
        height: 100px;
    }
    .contact-card{
        width: 68%;
        flex-direction: column;
        align-items: flex-end;
    }
    .mapa-de-sitio{
        padding-left: 0px;
    }
    .icon-button-footer{
        height: 28px;
    }
    .proximamente{
        font-size: 40px;
        padding: 60px 0px 60px 0px;
    }
}
@media (max-width: 768px) and (orientation: portrait){
    .button-comprar{
        width: 66%;
        font-size: 23px;
        border-radius: 25px;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .button-contactar{
        font-size: 18px;
        margin-bottom: 4px;
        margin-top: 4px;
    }
}
@media (max-width: 768px) and (orientation: landscape) {
    .zindex-2{
        top: 400px;
    }
    .main-greenlife{
        padding-top: 110px;
    }
    .scroll{
        height: 5%;
        bottom: 54%;
    }
    .slider-card{
        max-width: 35%;
        min-width: 35%;
        height: 100%;
        margin-top: 20%;
    }
    .mySlides {
        width: 100%;
        display: none;
        position: relative;
        top: 0%;
        z-index: 1;
    }
    .presentation-text-container{
        line-height: 150%;
    }
    .text-container{
        padding-top: 0px;
    }
    .button-comprar{
        width: 50%;
        border-radius: 25px;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .button-contactar{
        font-size: 18px;
    }
}



