*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: DIN Alternate;
    font-style: normal;
    color: #6B6B63;
    background-color: #D6D6C7;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.display-inblo{
    display: inline-block;
}
.flex{
    display: flex;
}
.header{
    position: relative;
    max-width: 100%;
    height: 48px;
    background-color: #F3F3EF;
    box-shadow: 0px -23px 60px rgba(0, 0, 0, 0.1);
}
.inner-header{
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.logo-container{   
    width: 10%;
}
.nav-container{
    width: 70%;
}
.nav-header{
    width: 100%;
    font-size: 15px;
    text-align: center;
    justify-content: space-evenly;
}
.busqueda-container{
    height: 30px;
    width: 30%;
    margin: 0px 5px;
    margin-right: 10px;
}
.busqueda-input{
    margin-left: 5%;
    border: none;
    background-color: #FCFCFC;
    border-radius: 161px;
    padding: 5px 5px 5px 5px;
}
input:focus-visible{
    outline-style: none;
}
.main{
    margin: 0 auto;
    width: 100%;
    height: 800px;
}
.main-portada{
    margin: 0 auto;
    max-width: 60%;
    max-height:max-content;
}
.scroll{
    margin-bottom: -5%;
}
.scroll img{
    display: none;
    width: 5%;
}
.main-img{
    max-width: 100%;
}
.main-img img{
    width: 80%;
    height: auto;
}
.main-greenlife{
    max-width: 100%;
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 164px;
    line-height: 130px;
    color: #6D8E40;
    margin-top: 100px;
}
.span-life{
    color: #FBF7E9;
}
.main-slogan{
    position: relative;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 0px;
    text-align: center;
    color: #FBF7E9;
}
.section-skincare{
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 768px) {
    .header{
        height: 38px;
    }
    .inner-header{
        max-width: 95%;
    }
    .logo-container img{
        height: 15px;
    }
    .nav-header{
        font-size: 13px;
    }
    .busqueda-container img{
        display: none;
    }
    .main-greenlife{
        font-size: 85px;
    }
    .busqueda-input{
        width: 100%;
    }
    .main-slogan{
        font-size: 25px;
        padding-bottom: 10%;
    }
}